@page "/trace"
@using System.Text.Json;
@using CaseManagementAPI.Models;
@inject IJSRuntime JsRuntime
@inject ILocalStorageService _localStorageService;
@inject Service.AuthService _authService;
@inject Service.CaseService _caseService;
@inject INotificationService _notice
@inject LoginState _loginState;


<PageHeader Class="site-page-header" Title="個案追蹤" OnBack="@(()=> { Console.WriteLine("OnBack");})" />

<Form Size="large" Layout="@FormLayout.Horizontal" LabelCol="@(new ColLayoutParam { Span = "4" })"
	WrapperCol="@(new ColLayoutParam { Span = "14" })" Model="@model" OnFinish="OnFinish"
	OnFinishFailed="OnFinishFailed">
	<Tabs DefaultActiveKey="1" Type="@TabType.Card" Size="@TabSize.Large">
		<TabPane Key="1" Tab="個案追蹤管理">
			<div class="row">
				<div class="col">
					<FormItem Label="個案編號">
						<Input @bind-Value="@context.Id" />
					</FormItem>
					<FormItem Label="姓名">
						<Input @bind-Value="@context.PatientName" />
					</FormItem>
					<FormItem Label="身份證字號">
						<Input @bind-Value="@context.CustomerId" />
					</FormItem>
					<FormItem Label="追蹤管理日期">
						@* check date model source *@
						<DatePicker @bind-Value="@context.SeekDate" DefaultValue="@DateTime.Now" TValue="DateTime"
							Picker="@DatePickerType.Date" />
					</FormItem>
				</div>
				<div class="col">
					<FormItem Label="醫生姓名">
						<Input @bind-Value="@context.DoctorName" />
					</FormItem>
					<FormItem Label="個管師">
						<Input @bind-Value="@context.Manger.Name" />
					</FormItem>
					<FormItem Label="複診次數">
						<Input Value="10" />
					</FormItem>
				</div>
			</div>
			<div class="row">
				<div class="col-7">
					<Blood bloodTest=bloodTest></Blood>
				</div>
			</div>
		</TabPane>
		<TabPane Key="2" Tab="衛教紀錄檔">
			<div class="row">
				<FormItem Label="衛教追蹤日期">
					@* check date model source *@
					<DatePicker @bind-Value="@healthHistory.TraceDate" DefaultValue="@DateTime.Now" TValue="DateTime"
						Picker="@DatePickerType.Date" />
				</FormItem>
				<FormItem Label="個管師">
					@* check date model source *@
					<Input @bind-Value="@healthHistory.Manager.Name" />
				</FormItem>
			</div>
			<CheckboxGroup Style="width:100%">
				<Row>
					<Col Span="12">
					<Checkbox Label="A">1.糖尿病的認識</Checkbox><br><br>
					<Checkbox Label="B">2.</Checkbox><br>
					<Checkbox Label="C">3.</Checkbox><br>
					<Checkbox Label="D">4.</Checkbox><br>
					<Checkbox Label="A">5.</Checkbox><br>
					<Checkbox Label="A">6.</Checkbox><br>
					<Checkbox Label="A">7.</Checkbox><br>
					<Checkbox Label="A">8.</Checkbox><br>
					<Checkbox Label="A">9.</Checkbox><br>
					<Checkbox Label="A">10.</Checkbox><br>
					</Col>
					<Col Span="12">
					內容：
					<TextArea Rows="11" @bind-Value=healthHistory.Content />
					</Col>
				</Row>
			</CheckboxGroup>
		</TabPane>
	</Tabs>
</Form>
@code
{
	private CmsCase model = new CmsCase
		{
			BloodTests = new List<BloodTest>() { new BloodTest() },
			EyeTests = new List<EyeTest>() { new EyeTest() },
			FootTests = new List<FootTest>() { new FootTest() },
			UrineTests = new List<UrineTest>() { new UrineTest() },
			Manger = new CmsUser()
		};
	private BloodTest bloodTest = new();
	private HealthHistory healthHistory = new()
		{
			Manager = new() { }
		};
	private async void OnFinish(EditContext editContext)
	{

	}

	private void OnFinishFailed(EditContext editContext)
	{
		Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
	}
}